<link href="/css/partials/foot.css" rel="stylesheet">


<div class="back-to-top" id="back-to-top">
  <a href="#">
    <img src="/images/icons/arrow_up.png">
  </a>
</div>
<footer class = "footer" id = "footer">
  <span class="contents-footer">
    <a href = "/credit">Credit</a>
    <!-- <a href = "/privacy-polity">Privacy Polity</a> -->
    <span>&copy; 2024 Zi</span>
  </span>
</footer>


<script src="/script/partials/foot.js"></script>