<script src="/script/partials/header.js"></script>
<script src="/script/partials/footer.js"></script>
<script src="/script/<%= fileName %>.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.55.2/phaser.min.js"></script>
<script src="/js/game.js" defer></script>

</body>
</html>