<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/css/tailwind/style.css" rel="stylesheet">
  <link href="/css/tailwind/input.css" rel="stylesheet">
  <link href="/css/<%= fileName %>.css" rel="stylesheet">
  <link href="/css/partials/header.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

  <title><%= title %></title>

</head>

<body class="background" id="background">