<link href="/css/partials/navbar.css" rel="stylesheet">

<nav class ="navbar" id ="navbar">
  <div class="main-nav">
    <span class="nav-logo">
      Iyan Zuli Armanda
    </span>
    <span class="navbar-menu">
      <a href="/" id="nav-home">Home</a>
      <a href="/about" id="nav-about">About</a>
      <a href="/portfolio" id="nav-portfolio">Portfolio</a>
    </span>
    <span>
      <svg id="playButtonOn" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="M792-56 56-792l56-56 736 736-56 56ZM560-514l-80-80v-246h240v160H560v166ZM400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-62l80 80v120q0 66-47 113t-113 47Z"/></svg>
      <svg id="playButtonOff" style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z"/></svg>
      <audio id="backgroundMusic" loop>
        <source src="/audio/bgm.mp3" type="audio/mpeg">
      </audio>
    </span>
  </div>
  <div class="subnav1" id="subnav1">
    <a href="#head">Head</a>
    <a href="#about">About Us</a>
    <a href="#education">Education</a>
    <a href="#certificates">Certificates</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact Us</a>
  </div>
  <!-- <div class="subnav2" id="subnav2">
    <div>
      <input type="text" id="search">
    </div>
    <div>
      <img src="/images/icons/search.png">
    </div>
  </div> -->
</nav>

<div class="top-right-options" id="top-right">
  <div id="dark-mode-toggle">
    <p>light</p>
      <label class="dark-mode-toggle">
        <input type="checkbox" class="dark-toggle-button" id="darkModeToggle">
      </label>
    <p>dark</p>
  </div>
  <!-- <span class="language-toggle" id="language-toggle">ENG</span> -->
</div>

<script src="/script/partials/navbar.js"></script>