<link href="/css/partials/zoom.css" rel="stylesheet">

<div id="imgModal" class="modal">
  <span id="closeModal" class="modal-close">&times;</span>
  <img id="modalImg" src="">
</div>

<script src="/script/partials/zoom.js"></script>