# Ignore .vscode folder
.vscode/

# Ignore .vercel folder
.vercel/

# Ignore node_modules folder
node_modules/

# Ignore specific folders inside public
public/images/
public/audio/
public/games/
public/css/tailwind/style.css

# Ignore environment file
process.env