<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div class="content-wrapper">
  <div class="title">
    Credit
  </div>
  This website was designed and developed by Iyan Zuli Armanda using a variety of tools and resources. I would like to acknowledge the following for their contributions:
  <ul>
    <li>
      <h2>- Tailwind CSS:</h2> 
      <p>
        For providing the responsive design framework that simplifies and enhances the styling of this site. 
      </p>  
      <a href="https://tailwindcss.com/">tailwindcss.com</a>
    </li>
    <li>
      <h2>- Express.js, EJS and etc:</h2>
      <p>
        For powering the backend functionality and template rendering of the website. 
      </p>
      <a href="https://expressjs.com/">expressjs.com</a>
      <a href="https://ejs.co/">ejs.co</a>
      <a href="https://www.npmjs.com/package/nodemon">npmjs.com</a>
    </li>
    <li>
      <h2>- Unsplash & Pixabay:</h2>
      <p>
        For providing free, high-quality images used throughout the site.
      </p>
      <a href="https://unsplash.com/">unsplash.com</a>
      <a href="https://pixabay.com/">pixabay.com</a>
    </li>
    <li>
      <h2>- Icon and Font from google:</h2>
      <p>
        For supplying the icons used in the design of this website. And this website uses the [Plus Jakarta Sans] font, available at Google Fonts.
      </p>
      <a href="https://fonts.google.com/">fonts.google.com</a>
    </li>
  </ul>
</div>

<%- include('partials/foot.ejs') %>

<%- include('partials/footer.ejs') %>