<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<!-- <div class="game-container" style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
  <iframe src="/games/platformerWeb.html" width="1600" height="800" style="border: none;">
    Your browser does not support iframes.
  </iframe>
</div> -->

<section>
  <div>
    <iframe width="560" height="315" src="https://youtu.be/NjjGxUbrtnc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="main">
    <h1>Welcome To My Website!</h1>
    <a href="/portfolio">Let's Start!!</a>
  </div>
</section>

<%- include('partials/foot.ejs') %>

<%- include('partials/footer.ejs') %>