section {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0F172A;
  text-align: justify;
  /* background-color: #020617; */
}

.head {
  padding: 25px 350px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.head p:nth-child(1) {
  color: #E00000;
  font-weight: 800;
}

.head p:nth-child(2) {
  font-size: 32px;
  color: black;
  font-weight: 700;
}

.main {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 20%; */
}

.main-top {
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-right: 20%;
  gap: 20px;
}


.main-top .left p {
  margin-top: 20px;
}

.main-top .left p:nth-child(1) span:nth-child(1) {
  display: inline-block;
  color: #E00000;
  font-weight: 700;
  font-size: 20px;
}

.main-top .left p:nth-child(1) span:nth-child(2) {
  display: inline-block;
  color: #0F172A;
  font-weight: 600;
  font-size: 20px;
}

.main-top .left p:nth-child(2), .main-bottom p:nth-child(1) {
  color: #260100;
}

.main-top .right {
  margin-top: 20px;
}

.main-top .right img {
  max-width: object-fit;
  height: auto;
  border-radius: 32px;
  border-width: 5px;
  border-color: black;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  filter: grayscale(100%);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: filter, border, transform;
  transition-duration: 1s;
}

.main-top .right img:hover {
  filter: grayscale(0);
  border-color: #E00000;
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
}

.main-bottom {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 60px;
  width: 100%;
}

.main-bottom p:nth-child(2) {
  margin-top: 20px;
}

.end {
  background-color: #260100;
  border-top-width: 225px;
  border-color: #FEF2F2;
}

body.dark-mode section {
  background-color: #0f172a;
  color: #FFFFFF;
}

body.dark-mode .head p:nth-child(2) {
  color: white;
}

body.dark-mode .main-top .left p:nth-child(1) span:nth-child(2) {
  color: #cbd5e1;
}

body.dark-mode .main-top .left p:nth-child(2), body.dark-mode .main-bottom p:nth-child(1) {
  color: #9ca3af;
}

body.dark-mode .end {
  border-color: #1B0C15;
}

section {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.head p:nth-child(2), .main .left span, .main-top .left p:nth-child(2), .main-bottom p:nth-child(1) {
  transition: color 0.3s ease;
}

.end {
  transition: border-color 0.3s ease;
}

/* rasio 1.3 */
@media (max-width: 1024px) {
  section {
    font-size: 15px;
  }
}