.background {
  background-image: url('/images/coding.jpg');
}

.content-wrapper {
  padding: 8%;
  margin: 12%;
  color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  font-size: 20px;
  text-align: justify;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.sub-title {
  font-weight: 600;
  margin-top: 25px;
}
  
.content-wrapper p {
  /* margin-bottom: 20px; */
}

.content-wrapper ul {
  margin-bottom: 5px;
  margin-top: 5px;
}